.menu {
  background-color: #002287;
  display: flex;
  gap: 50px;

  justify-content: center;
  padding: 10px;
}

.link {
  color: #fff;
  font-size: 22px;
  text-decoration: none;
}

.link:hover {
  cursor: pointer;
}
