.container-secao {
  align-items: center;
  border-radius: 10px 10px 10px 10px;
  color: #fff;
  display: flex;
  font-size: 22px;
  flex-direction: column;
  padding: 30px;
  margin: 10px;
  width: 80%;
}

.container-secao h2 {
  font-size: 32px;
  border-bottom: 2px solid;
}

.colaboradores {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 15px;
}
